@page
@model RCL.Core.Identity.Proofing.UI.Pages.UserApproval.DetailsModel
@{
    ViewData["Title"] = "Request Details";
}

<div class="card shadow rounded mt-2 mb-5">
    <div class="card-header">
        <h3><a class="link_click" asp-page="./index"><i class="bi-arrow-left-circle"></i></a> @ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        @if (!string.IsNullOrEmpty(Model?.ErrorMessage))
        {
            <div class="alert alert-danger">
                <p>@Model.ErrorMessage</p>
            </div>
        }
        else
        {
            <div><strong>First Name</strong></div>
            <div>@Html.DisplayFor(model => model.UserData.GivenName)</div>
            <div><strong>Last Name</strong></div>
            <div>@Html.DisplayFor(model => model.UserData.SurName)</div>
            <div><strong>Email</strong></div>
            <div>@Html.DisplayFor(model => model.UserData.Email)</div>
            <div><strong>Display Name</strong></div>
            <div>@Html.DisplayFor(model => model.UserData.DisplayName)</div>
            <div><strong>Date of Birth</strong></div>
            <div>@Html.DisplayFor(model => model.UserData.DateOfBirth)</div>
            <div><strong>Street Address</strong></div>
            <div>@Html.DisplayFor(model => model.UserData.StreetAddress)</div>
            <div><strong>City</strong></div>
            <div>@Html.DisplayFor(model => model.UserData.City)</div>
            <div><strong>State/Province</strong></div>
            <div>@Html.DisplayFor(model => model.UserData.StateProvince)</div>
            <div><strong>Postal Code</strong></div>
            <div>@Html.DisplayFor(model => model.UserData.PostalCode)</div>
            <div><strong>Country</strong></div>
            <div>@Html.DisplayFor(model => model.UserData.Country)</div>
            <div><strong>Identity Approver</strong></div>
            <div>@Html.DisplayFor(model => model.UserData.IdentityApprover)</div>
            <div><strong>Create Date</strong></div>
            <div>@Html.DisplayFor(model => model.UserData.DateCreated)</div>
        }
    </div>
</div>
