@page
@model RCL.Core.Identity.Enrollment.Pages.InstructionsModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-8">
        <div class="card shadow rounded">
            <div class="card-header">
                <h3>How to Complete your application</h3>
            </div>
            <div class="card-body">
                <div class="alert alert-info">
                    <p><i class="bi bi-info-circle"></i> After you have applied for a Digital ID in the sign-up process, you will receive an email to complete these instructions.</p>
                </div>
                <h4>Submit Images</h4>
                <ul>
                    <li><strong>Image 1</strong>: Take a selfie with one form of photo ID (passport, ID card, driver's permit), ensure the photo in the ID is clearly visible and matches your face. </li>
                    <li><strong>Image 2</strong>: Take a selfie with a second form of photo ID (passport, ID card, driver's permit). </li>
                </ul>
                <h4>Send your images to us via email</h4>
                <ul>
                    <li>Send an email to : <a href="@Model.ContactEmail">@Model.ContactEmail</a> requesting a Digital ID with the <strong>2 images</strong> listed above as attachments to the email.</li>
                </ul>
                <h4>Processing time</h4>
                <ul>
                    <li>We will process your application within 10 working days.</li>
                    <li>When your application is approved, you will receive an email notification.</li>
                    <li>If your application is not processed within 10 working days, you can contact us at : <a href="@Model.ContactEmail">@Model.ContactEmail</a></li>
                    <li>If you need clarification or cannot meet one of the photo requirements please contact support at : <a href="@Model.ContactEmail">@Model.ContactEmail</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow rounded">
            <div class="card-header alert-success">
                <h4 class="text-center">Sample Selfie</h4>
            </div>
            <div class="card-body">
                <img class="img-fluid" src="~/images/selfie.jpg" />
            </div>
        </div>
    </div>

</div>
